In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
total_schools = school_data_complete["school_name"].nunique()

In [4]:
total_students = '{:,}'.format(school_data_complete["Student ID"].count())

In [5]:
budget = school_data_complete.loc[:,"budget"]
budget

0        1910635
1        1910635
2        1910635
3        1910635
4        1910635
          ...
39165    1043130
39166    1043130
39167    1043130
39168    1043130
39169    1043130
Name: budget, Length: 39170, dtype: int64

In [6]:
total_budget = '${:,.2f}'.format(sum(school_data_complete.budget.drop_duplicates()))
total_budget

'$24,649,428.00'

In [7]:
math_score_mean = school_data_complete.loc[:,"maths_score"].mean()
math_score_mean

70.33819249425581

In [8]:
mean_reading_score = school_data_complete.loc[:,"reading_score"].mean()
mean_reading_score

69.98013786060761

In [9]:
maths_pass = school_data_complete[school_data_complete['maths_score']>=50]
reading_pass = school_data_complete[school_data_complete['reading_score']>=50]

In [10]:
x = maths_pass.shape[0]
z= reading_pass.shape[0]
y = school_data_complete.shape[0]
percent_maths_pass = round(x/y*100,2)
percent_reading_pass = round(z/y*100,2)
print(percent_maths_pass)
print(percent_reading_pass)

86.08
84.43

In [11]:
overall_pass_rate = school_data_complete.loc[(school_data_complete['maths_score']>=50) & (school_data_complete['reading_score']>=50)]
a = overall_pass_rate.shape[0]
overall_pass_rate_percent = round(a/y * 100,2)
overall_pass_rate_percent

72.81

In [12]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[math_score_mean],
                                 "Average Reading Score":[mean_reading_score],
                                 "% Passing Math":[percent_maths_pass],
                                 "% Passing Reading":[percent_reading_pass],
                                 "% Overall Passing Rate":[overall_pass_rate_percent]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.08,84.43,72.81